<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="HostName" value="host.docker.internal" />
		<add key="Port" value="5672" />
		<add key="Password" value="test" />
		<add key="UserName" value="test" />
		<add key="QueueName" value="queue1" />
	</appSettings>
</configuration>